@using taometlamroi.Areas.Admin.Model;
@model  RegisterModel


@using (Html.BeginForm("Register", "Register", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <header>Đăng Ký</header>
    <div class="form-group">
        <i class="fas fa-user"></i>

        @Html.TextBoxFor(model => model.UserName, new { @class = "myInput", @autofocus = "autofocus" })
        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <i class="fas fa-lock"></i>

        @Html.PasswordFor(model => model.Password, new { @class = "myInput" })
        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <i class="fas fa-lock"></i>

        @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "myInput" })
        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
    </div>
    <button type="submit" class="butt" onclick="dangnhap()">Đăng Ký</button>
}
